@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3.50rem; /* 60px */
    line-height: 1;
    padding-bottom: 20px;
}

h2 {
    font-size: 3rem; /* 60px */
    line-height: 1;
    padding-bottom: 15px;
}

p {
    text-align: justify;
    padding-bottom: 10px;
}

.img-h2 {
    padding-bottom: 0;
}